.personCard {
  height: 50px;
  width: 50%;
  background-color: grey;
  margin: 10px;
  display: flex;
}

.profile_info {
  display: flex;
}

.profile_info img {
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 10px;
}

.profile_info p {
  margin: 10px;
}

.sendMessage {
  display: flex;
  margin-left: auto;
}

.sendIcon {
  margin-left: auto;
  margin-right: 10px;
}

.birthdayMessage {
  margin-left: auto;
  width: auto;
  margin-right: 10px;
}
